.dropDown {
  border: 1px solid #ddd;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  font-size: 0;
  position: relative;
  width: 100%;

  & > * {
    align-self: flex-start;
  }

  span {
    border-right: 1px solid #ddd;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 10px;
    flex: 0 1 auto;
  }

  select {
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 10px;
    flex: 1 1 auto;
    font-family: inherit;
    font-weight: normal;
    cursor: pointer;
    width: 100%;

    &[disabled] {
      color: #ddd;
      cursor: default;
    }
  }

  svg {
    width: 12px;
    position: absolute;
    pointer-events: none;
    right: 8px;
    top: 8px;
  }

  &.isDisabled {
    svg {
      fill: #ddd;
    }
  }
}
