.logManagementPage {
  width: 100%;
  padding: 0 20px;
  max-width: 840px;
  margin: 0 auto;
  box-sizing: border-box;

  header {
    border: none;
    padding: 25px 0 20px;
    display: flex;
    align-items: baseline;

    .actions {
      flex-grow: 0;

      label, input {
        cursor: pointer;
      }

      label {
        padding-right: 4px;
        font-size: 14px;
        color: #555;
      }
    }
  }

  h3 {
    padding-top: 24px;
    padding-bottom: 8px;
  }

  .addButton {
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    padding: 20px 12px;
    text-align: left;

    &:hover {
      background: #ddd;
    }

    & > * {
      display: inline-block;
      vertical-align: middle;
    }

    p {
      margin-left: 6px;
      font-size: 16px;
    }

    svg {
      width: 16px;
      height: 16px;
      padding: 6px;
    }
  }

  li {
    display: block;

    & > div {
      background: #eee;
    }

    &:nth-of-type(2n) > div {
      background: #f9f9f9;
    }
  }

  .singleList li {
    display: block;

    & > div {
      background: #f9f9f9;
    }

    &:nth-of-type(2n) > div {
      background: #eee;
    }
  }

  .noLogsLine {
    background: #eee;
    display: block;
    padding: 20px 12px;
    color: #777;

    p {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .fadeInPanel {
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    box-sizing: border-box;
    background: inherit;
    pointer-events: none;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    transform: scale(1.05);

    &.open {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
    }
  }

  .newLogContainer {
    position: relative;
    background: #eee;
    height: 68px;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);

    &.addLogOpen {
      height: 167px;

      .formContainer {
        pointer-events: all;
        opacity: 1;
        transform: scale(1);
      }
    }

    .formContainer {
      display: flex;
      flex-direction: row;

      form {
        margin-right: 24px;
      }

      div:first-of-type {
        flex-grow: 1;
      }

      select, input {
        box-sizing: border-box;
        background: none;
        border: none;
        border-bottom: 1px solid #777;
        padding: 4px;
        display: block;
        margin-bottom: 8px;
        width: 188px;

        &.invalid {
          border-color: #F44336;
        }
      }

      select {
        appearance:none;
        border-radius: 0px;
        font-size: 15px;

        &.default {
          color: #a9a9a9;
        }
      }

      input {
        &:not(:first-of-type) {
          width: 100%;
        }
      }

      .actions {
        button {
          transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);

          svg {
            padding: 6px;
            width: 16px;
            height: 16px;
          }

          &:hover {
            background: #ddd;
          }
        }
      }
    }
  }

  .savingPanel, .deletingPanel {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 16px;
      margin-left: 5px;
    }
  }

  .selectStyling {
    display: block;
    width: 188px;
    border: none;

    &.placeholderColour select {
      color: #a9a9a9;
    }

    select {
      line-height: 20px;
    }

    svg {
      width: 10px;
      right: 6px;
      top: 10px;
    }
  }
}
