.navPanelGroupItem {
  font-size: 13px;
  display: block;

  a {
    width: 100%;
    box-sizing: border-box;
    padding: 4px 5px;
    margin: 1px 0;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 5px;
    height: 10px;
    width: 10px;
    background: #9B9B9B;

    &.active {
      background: #4CAF50;
    }

    &.idle {
      background: #FFC107;
    }

    &.paused {
      background: #F44336;
    }

    &.hasOutput {
      background: #2196F3;
    }
  }

  span {
    font-weight: 100;
    font-size: 13px;
    max-width: calc(100% - 15px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
  }
}
