.appManagementPage {
  width: 100%;
  padding: 0 20px;
  max-width: 840px;
  margin: 0 auto;
  box-sizing: border-box;

  header {
    border: none;
    padding: 25px 0 0;
    display: flex;

    h2 {
      display: inline-block;
      flex-grow: 1;
    }

    button {
      margin-top: 2px;
    }

    .actions {
      flex-grow: 0;
      opacity: 1;
      transition: all .28s cubic-bezier(0.4,0,.2,1);

      &.hidden {
        opacity: 0;
      }
    }
  }

  h3 {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
  }

  ul {
    width: 100%;
    padding: 8px 0;
  }

  li {
    display: block;

    & > * {
      display: inline-block;;
      margin: 8px 0;
      box-sizing: border-box;
      width: 1px;
      vertical-align: top;
    }
  }

  label {
    width: 15%;
    padding: 8px 20px 8px 0;
  }

  input {
    width: 85%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #ddd;

    &[disabled] {
      color: #ddd;
      cursor: default;
    }
  }

  .dropDown {
    width: 85%;

    select {
      padding: 8px;
      line-height: 20px;
    }

    svg {
      top: 12px;
      right: 12px;
    }
  }

  .savingIndicator {
    article {
      display: inline-block;
      vertical-align: top;
    }

    p {
      display: inline-block;
      margin: 3px 0 3px 5px;
      vertical-align: top;
    }
  }

  .infoList {
    p {
      width: auto;
      padding: 8px 0;
    }
  }

  .helpMeParagraph {
    font-size: 14px;
    margin-bottom: 1em;

    &:first-of-type {
      padding-top: 10px;
      border-top: 1px solid #ddd;
      margin-top: 20px;
    }

    a {
      color: #2196F3;
      text-decoration: underline;
    }
  }
}


.alert {
  margin-top: 7.5px;
  background: #F57C00;
  display: flex;
  width: 100%;
  flex-direction: row;

  svg {
    padding: 8px;
    width: 24px;
    height: 24px;
    fill: #fff;
    flex-shrink: 0;
  }

  p {
    flex-grow: 1;
    padding: 8px 8px 8px 0;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
  }
}
