.navPanelGroup {
  margin-top: 35px;

  &:first-of-type {
    margin-top: 0px;
  }

  header {
    display: flex;
    flex-direction: row;

    div {
      flex: 1 1 auto;

      a {
        padding: 5px 5px 6px;
      }
    }
  }

  h3 {
    font-size: 15px;
    font-weight: 100;
  }

  button {
    transition: all .28s cubic-bezier(0.4,0,.2,1);
    flex: 0 0 auto;
    padding: 8px;
    float: right;
    font-size: 0;

    &:hover {
      background: #474747;
    }

    &.closed svg {
      transform: rotate(-90deg);
    }
  }

  svg {
    transition: all .28s cubic-bezier(0.4,0,.2,1);
    width: 12px;
  }


  ul {
    overflow: hidden;
  	transition: all .28s cubic-bezier(0.4,0,.2,1);
  }
}
