.logOutputPage {
  height: 100%;
  overflow: scroll;
  background: #333;
  color: #fff;
  padding: 14px 0;
  position: relative;

  li {
    display: block;

    div {
      display: inline-block;
      white-space: nowrap;
      padding: 1px 15px;
      font-size: 14px;
    }
  }

  .errorPanel {
    position: absolute;
    width: 100%;
    min-height: 80px;
    background: #F44336;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: -100px;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);

    svg {
      height: 40px;
      fill: #fff;
    }

    & > svg {
      margin-right: 10px;
    }

    p {
      flex-grow: 1;
      margin-right: 15px;
    }

    button {
      margin: -5px;
      padding: 5px;
      display: flex;

      &:hover {
        background: #E53935;
      }
    }

    &.open {
      top: 0px;
    }
  }
}
