.logOutputPage {
  height: 100%;
  overflow: scroll;
  background: #333;
  color: #fff;
  padding: 14px 0;
  position: relative;

  ol:first-of-type {
    position: absolute;
    left: 15px;
    top: 14px;
    text-align: right;
    border-right: 1px solid #fff;
    padding-right: 6px;
  }

  li {
    display: block;

    div {
      display: inline-block;
      white-space: nowrap;
      padding: 1px 15px;
      font-size: 14px;
    }
  }
}
