@font-face {
    font-family: 'opensans';
    src: url('./fonts/opensans.woff2') format('woff2'),
         url('./fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'opensans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

em {
  font-style: normal;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

button {
   background: inherit;
   border: none;
   cursor: pointer;
}

input {
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 100;

  &:invalid {
    border-color: #F44336;
  }
}

a, button, input, select {
	// Setting these default rules means that the outline doesn't close in on the
	// element due to the default offset being 0px and the default outline not
	// being inset
	outline-offset: -1px;
	outline: inset 0px transparent;

	&:focus {
		outline: inset 1px #2196F3;
	}
}

h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 100;
}
