.logGroupListItem {
  display: block;
  background: #eee;

  &:nth-of-type(2n) {
    background: #f9f9f9;
  }

  a {
    width: 100%;
    display: flex;
    flex-direction: row;

    &:hover {
      background: #ddd;
      cursor: pointer;
    }
  }

  i {
    width: 4px;
    display: block;
    flex: 0 0 auto;
    background: #9B9B9B;

    &.active {
      background: #4CAF50;
    }

    &.idle {
      background: #FFC107;
    }

    &.paused {
      background: #F44336;
    }

    &.hasOutput {
      background: #2196F3;
    }
  }

  div {
    flex: 1 1 auto;
    padding: 12px 8px;
  }

  p {
    font-size: 14px;
    font-weight: 100;

    &:last-of-type {
      font-size: 11px;
    }
  }
}
